spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000

  app:
    security:
      cors:
        allowed-origins: https://app.finessecentrointegrado.com.br
      cookie:
        secure: true

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: false
      properties:
        hibernate:
          format_sql: false
          default_schema: public

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true  # mude para true na primeira vez
    #baseline-on-migrate: false
    schemas: public

  logging:
    level:
      com.finesse: INFO
      org.springframework.web.cors: WARN
      org.springframework.security: WARN
      org.hibernate.SQL: WARN
      org.hibernate.type.descriptor.sql.BasicBinder: WARN
    file:
      name: /var/log/finesse/finesse-backend.log
      max-size: 50MB
      max-history: 90